<a ng-click="logout()" class="pull-right large-font" id="logoutbtn">Logout</a>
<form ng-submit="submit(phoneNumber)" id="form_id" name="phoneForm" class="becentered">
    <div id="form" class="form-group" >
        <div class="input-group input-group-lg">

            <input type="tel" class="form-control" placeholder="Enter your phone number" ng-model="phoneNumber">
            <span ng-click="submit(phoneNumber)" class="input-group-addon glyphicon glyphicon-phone"></span>

        </div>
    </div>
</form>
