

#xbutton {
  color : #aaa;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
}

.becentered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#form_id {
    width: 90%;
}

/*.icon {
    width: inherit;
    height: inherit;
}

.icon:before {
    font-size: 5.5vw;
}*/

.card {
  background-color: white ;
  border-radius: 20px;
  height:auto;
  padding: 30px;
  border: 2px solid #212120;
}

#reward-header {
    text-align: center;
    color: #212120;
    padding: 20px 0 0 0;
}

.glyphicon-star-empty, .glyphicon-star {
  width: 20%;
  font-size: 10vw;
  text-align : center;
}

.glyphicon-star {
    color: #E6B749;
}

.glyphicon-star-empty {
    color: #8C8C84;
}

.large-font {
  font-size : 6vw;
  text-align: center;
  color : #212120;
}

#name {
    line-height: 1.4em;
    border-bottom: 1px solid #212120;
}

.num-orders {
  display: inline;
  width: 11%;
  height: 37px;
}

.redemption {
  text-align: center;
}

.submit-order > h2 {
  margin-bottom: 0px;
}

.submit-order-div {
  margin-top: 15px;
}
